<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>playbook</name>
  <description>playbook_newfile</description>
  <remoteFS>/root</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.854.v7fd446b_337c9">
    <host>172.31.33.34</host>
    <port>22</port>
    <credentialsId>fda2c71d-5e9f-408f-bc07-91780334cb50</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>play</label>
  <nodeProperties/>
</slave>