<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>server</name>
  <description>serve</description>
  <remoteFS>/home/ubuntu</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.854.v7fd446b_337c9">
    <host>172.31.1.204</host>
    <port>22</port>
    <credentialsId>522fa5f0-f7b1-41ad-bf9c-30e9d2209772</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>server</label>
  <nodeProperties/>
</slave>